
<% if request.original_url.to_s.include? 'sections' %>
      <div class="card sticky-action card-panel services">
        <div class="card-image card-gradient">
          <%= image_tag service.picture.url if service.picture? %>
        </div>
        <div class="card-title">
          <%= service.service_name %>
          <i class="material-icons right activator">info_outline</i>
          <hr />
        </div>
        <span class="card-subtitle">
          $<%= service.service_price %>
        </span>
        <span class="card-subtitle">
          <small> &nbsp; Time:</small>
          <%= service.service_time_to_complete %>

        </span>
        <span class="card-subtitle">
          <small>&nbsp; Vendor: </small><%= service.service_vendor %>
        </span>
        <div class="card-content">
          <p><%= service.service_description %></p>
        </div>
        <div class="card-action">
          <% if logged_in? && current_user.admin? %>
            <%= link_to 'edit', edit_section_service_path(@section.slug, service.slug) %>
            <%= link_to 'delete', section_service_path(@section.slug, service.slug),
            method: 'delete', data: { confirm: 'are you sure?' } %>
          <% end %>
          <%= link_to 'Book', section_service_path(@section.slug, service.slug) %>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">
            <i class="material-icons right">close</i>
            More Info <hr /><br/>
          </span>
          <p>
            <%= service.service_info %>
          </p>
        </div>
      </div>
<% else %>
<hr />
    <li id="service-<%= service.id %>">
      <span class="user">
        <strong> <small class="bold">
        <%= service.section.section_name %>
        </small>
        </strong>
        <br />
        <%= link_to service.service_name, section_service_path(service.section.id, service.slug), class: 'bold' %></span>
      <% if logged_in? && current_user.admin? %>
      <small class="timestamp">
        <br />
        <%= link_to "delete", section_service_path(service.section_id, service.slug), method: :delete,
                    data: { confirm: "You sure?" } %>
        &nbsp;  <%= link_to "edit", edit_section_service_path(service.section_id, service.slug) %>
      <% end %>
      </small>
    </li>
<% end %>
