<% if logged_in? %>
      <div class="row">
        <div class="col l3 m3 s6 paper">
          <section class="user_info">
            <%= render 'shared/user_info' %>
          </section>
          <section class="stats">
            <%= render 'shared/stats' %>
          </section>
          <aside class="micropost_form">
          </aside>
        </div>
        <div class="paper microposts col l3 m3 s6 offset-l6">
          <h4>Current workplaces</h4>
          <small><%= link_to "View workplaces", workplaces_path %></small>
          <%= render 'shared/feed' %>
          <h4>Current Locations</h4>
          <%= render 'shared/location_feed' %>
        </div>
      </div>
<% else %>
  <div class="jumbotron row">
    <div class="left col l8 m8 s12">
      <h4 class="left font-black">The best way to be productive without being busy. <br /></h4>
      <div class="left col l8 m8 s12">
        <h5 class="left">YourTime handles the things you have been meaning to do, while you work.</h5>
        <hr />
      <div class="row">
       <br /> <hr /><br />
        <h5 class="left col l4 m4 s6">Where do you currently work?</h5>
        <div class="col l4 m4 s6 input-field parking-selector ">
          <%= form_tag "", id: 'workplace-selection', method: 'get' do%>
              <%= select_tag(:workplace, options_for_select(@workplaces.map{|workplace| [workplace.workplace_name, workplace.id,
              { :'data-url' => workplace_locations_path(workplace.workplace_name)}]})) %>
              <button class="waves-effect waves-light btn">Find My Services </button>
          <% end %>
        </div>
      </div>

      </div>

    </div>
      <div class="col l4 m4 s12">
      </div>
    </div>

<% end %>
<script>$(document).ready(function() {
  $('select').material_select();
  var form_url = $('#workplace-selection').find(':selected').data('url');
  $('#workplace-selection').prop('action', form_url);
});

</script>
<script>

  $("#workplace-selection").change(function() {
    var form_url = $(this).find(':selected').data('url');
    $('#workplace-selection').prop('action', form_url);
  });
</script>