<div class="row">
  <div class="col l6 m6 s12">
    <div class="paper-no-border">
      <div class="css-flash">
        <div class="icon-div-info">
          <i class="fa fa-info" aria-hidden="true"></i>
        </div>
        <div class="flash-text">
          <h6>Appointment Info:</h6>
        </div>
      </div>
      <div class="form-info">
        <span class="form-header">Status:</span>
        <span class="form-text"> <%= @booking.booking_status %></span>
      </div>
      <div class="form-info">
        <span class="form-header">Workplace:</span>
        <span class="form-text"> <%= @workplace.workplace_name %></span>
      </div>
      <div class="form-info">
        <span class="form-header">Location:</span>
        <span class="form-text"> <%= @location.location_name %></span>
      </div>
      <div class="form-info">
        <span class="form-header">Category:</span>
        <span class="form-text"> <%= @location.category.category_name %></span>
      </div>
      <div class="form-info">
        <span class="form-header">Service: </span>
        <span class="form-text">
          <% @booking.service_id.each do |service| %>
              <%= get_service_name(service) %>
            <br />
          <% end %>
        </span>
      </div>
      <div class="form-info">
        <span class="form-header">Date: </span>
        <span class="form-text">
          <%= @booking.schedule.date %>
        </span>
      </div>
      <div class="form-info">
        <span class="form-header">Price: </span>
        <span class="form-text">
          <%= number_to_currency(@booking.booking_price) %>
        </span>
      </div>
      <div class="form-info">
        <span class="form-header">Vendor: </span>
        <span class="form-text">
          <% vendor = [] %>
            <% @booking.service_id.each do |service| %>
                <% ser = get_service(service) %>
                <% vendor.push(ser.service_vendor) %>
            <% end %>
          <% vendor = vendor.uniq %>
          <% vendor.each do |ven| %>
            <%= ven %>
          <% end %>
        </span>
      </div>
      <div class="form-info">
        <span class="form-header">Time Frame: </span>
        <span class="form-text">
          <% @booking.service_id.each do |service| %>
            <% ser = get_service(service) %>
            <%= ser.service_time_to_complete %>h &nbsp;
            <% end %>
          </span>
      </div>
      <% if @booking.booking_status == 'Pending' %>
        <div class="form-info">
          <span class="form-header">Edit Order:</span>
          <span class="form-text">
                 <%= link_to edit_user_booking_path(current_user) do %>
                    <div class="waves-effect waves-light btn " style="background: linear-gradient(100grad, #1976D2, rgba(25,118,210 ,1));">
                      <i class="material-icons left">edit</i>
                      Edit
                    </div>
                  <% end %>
              <%= link_to cancel_path(id: @booking.id, user_id: current_user), method: :post, confirm: 'Are you sure you want to cancel?' do %>
                  <div class = "waves-effect waves-light btn " style="background: linear-gradient(100grad, #1976D2, rgba(25,118,210 ,1));">
                    <i class = "material-icons left" > clear </i>
                    Cancel
                  </div >
              <% end %>

            <% if current_user.admin? %>
                <br/>
                  <a class="waves-effect waves-light btn " style="width: 96%; margin-top: 5px; display: inline-block; background: linear-gradient(100grad, #1976D2, rgba(25,118,210 ,1));">
                    <i class="material-icons left">check_box</i>Finalize</a>
                <% end %>
              </span>
        </div>
        <% end %>

    </div>
    <br />
  </div>
  <div class="col l6 m6 s12">
    <div class="paper-no-border">
      <div class="css-flash-cost">
        <div class="icon-div-dollar">
          <i class="fas fa-dollar-sign" aria-hidden="true"></i>

        </div>
        <div class="flash-text">
          <h6>Appointment Cost:</h6>
        </div>
      </div>
      <div class="form-info">
        <span class="form-header">Services: </span>
        <span class="form-text">
          <% total_services = 0 %>
          <% @booking.service_id.each do |service| %>
                <% ser = get_service(service) %>
            <% total_services += ser.service_price %>
            <% end %>
          <%= number_to_currency(total_services) %>
        </span>
      </div>
      <div class="form-info">
        <span class="form-header">Estimate Tax: </span>
        <span class="form-text">
          <% total_tax = 0 %>
            <% @booking.service_id.each do |service| %>
                <% ser = get_service(service) %>
                <% total_tax += ser.service_tax %>
            <% end %>
          <%= number_to_currency(total_tax) %>
        </span>
      </div>
      <div class="form-info">
        <span class="form-header">YourTime Fee: </span>
        <span class="form-text">
          <% total_fee = 0 %>
          <% @booking.service_id.each do |service| %>
                <% ser = get_service(service) %>
            <% total_fee += (ser.service_price * ser.yourtime_fee) %>
            <% end %>
          <%= number_to_currency(total_fee) %>
        </span>
      </div>
      <div class="form-info">
        <span class="form-header">Estimated Total </span>
        <span class="form-text"> <%= number_to_currency(@booking.booking_price) %></span>
      </div>
      <div class="form-info">
        <span class="form-header">Booking notes</span>
        <span class="form-text"><%= @booking.booking_notes %> </span>
      </div>
    </div>
  </div>
  <% if logged_in? %>
    <div class="col l6 m6 s12">
      <div class="paper-no-border ">
        <div class="css-flash-user grey darken-3">
          <div class="icon-div-user grey darken-3">
            <i class="fas fa-user" aria-hidden="true"></i>
          </div>
          <div class="flash-text ">
            <h6>User Info</h6>
          </div>
        </div>
        <div class="form-info">
          <span class="form-header">Name:</span>
          <span class="form-text">
                <%= @user.first_name %>
            <%= @user.last_name %>
              </span>
        </div>
        <div class="form-info">
          <span class="form-header">Email </span>
          <span class="form-text"><%= current_user.email %></span>
        </div>
      </div>


    </div>
  <% end %>
</div>
<div class="row">

</div>



