<div class="row">
  <div class="col l6 m6 s12">
    <div class="paper-no-border">
      <div class="css-flash">
        <div class="icon-div-info">
          <i class="fa fa-info" aria-hidden="true"></i>
        </div>
        <div class="flash-text">
          <h6>Appointment Info:</h6>
        </div>
      </div>
      <div class="form-info">
        <span class="form-header">Workplace:</span>
        <span class="form-text"> <%= @workplace.workplace_name %></span>
      </div>
      <div class="form-info">
        <span class="form-header">Location:</span>
        <span class="form-text"> <%= @location.location_name %></span>
      </div>
      <div class="form-info">
        <span class="form-header">Category:</span>
        <span class="form-text"> <%= @location.category.category_name %></span>
      </div>
      <div class="form-info">
        <span class="form-header">Service: </span>
        <span class="form-text">
          <% @booking.service_id.each do |service| %>
              <%= get_service_name(service) %>
            <br />
          <% end %>
        </span>
      </div>
      <div class="form-info">
        <span class="form-header">Date: </span>
        <span class="form-text">
          <%= @booking.date.strftime("%m/%d/%Y") %>
        </span>
      </div>
      <div class="form-info">
        <span class="form-header">Price: </span>
        <span class="form-text">
          <%= number_to_currency(@booking.booking_price) %>
        </span>
      </div>
      <div class="form-info">
        <span class="form-header">Vendor: </span>
        <span class="form-text">
          <% vendor = [] %>
            <% @booking.service_id.each do |service| %>
                <% ser = get_service(service) %>
                <% vendor.push(ser.service_vendor) %>
            <% end %>
          <% vendor = vendor.uniq %>
          <% vendor.each do |ven| %>
            <%= ven %>
          <% end %>
        </span>
      </div>
      <div class="form-info">
        <span class="form-header">Time Frame: </span>
        <span class="form-text">
          <% @booking.service_id.each do |service| %>
            <% ser = get_service(service) %>
            <%= ser.service_time_to_complete %>h &nbsp;
            <% end %>
          </span>
      </div>
    </div>
    <br />
  </div>
  <div class="col l6 m6 s12">
    <div class="paper-no-border">
      <div class="css-flash-cost">
        <div class="icon-div-dollar">
          <i class="fa fa-credit-card" aria-hidden="true"></i>

        </div>
        <div class="flash-text">
          <h6>Appointment Cost:</h6>
        </div>
      </div>
      <div class="form-info">
        <span class="form-header">Services: </span>
        <span class="form-text">
          <% total_services = 0 %>
          <% @booking.service_id.each do |service| %>
                <% ser = get_service(service) %>
            <% total_services += ser.service_price %>
            <% end %>
          <%= number_to_currency(total_services) %>
        </span>
      </div>
      <div class="form-info">
        <span class="form-header">Estimate Tax: </span>
        <span class="form-text">
          <% total_tax = 0 %>
            <% @booking.service_id.each do |service| %>
                <% ser = get_service(service) %>
                <% total_tax += ser.service_tax %>
            <% end %>
          <%= number_to_currency(total_tax) %>
        </span>
      </div>
      <div class="form-info">
        <span class="form-header">YourTime Fee: </span>
        <span class="form-text">
          <% total_fee = 0 %>
          <% @booking.service_id.each do |service| %>
                <% ser = get_service(service) %>
            <% total_fee += (ser.service_price * ser.yourtime_fee) %>
            <% end %>
          <%= number_to_currency(total_fee) %>
        </span>
      </div>
      <div class="form-info">
        <span class="form-header">Estimated Total </span>
        <span class="form-text"> <%= number_to_currency(@booking.booking_price) %></span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <% if logged_in? %>
    <div class="col l6 m6 s12">
      <div class="paper-no-border">
        <div class="css-flash-user">
          <div class="icon-div-user">
            <i class="fa fa-credit-card" aria-hidden="true"></i>
          </div>
          <div class="flash-text">
            <h6>User Info</h6>
          </div>
        </div>
        <div class="form-info">
          <span class="form-header">Name:</span>
          <span class="form-text">
              <%= current_user.first_name %>
            <%= current_user.last_name %>
            </span>
        </div>
        <div class="form-info">
          <span class="form-header">Email </span>
          <span class="form-text"><%= current_user.email %></span>
        </div>
      </div>


    </div>
  <% end %>
</div>



