<%= form_for [:category, @location] do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="paper">
      <%= f.label :location_name %>
      <%= f.text_field :location_name, placeholder: "location name", class: 'form-control' %>
      <%= f.label :location_address %>
      <%= f.text_field :location_address, placeholder: "location address", class: 'form-control' %>
      <%= f.label :location_description %>
      <%= f.text_area :location_description, placeholder: "location description", class: 'materialize-textarea' %>
    </div>
    <br/>
  <br/>
  <div class="col l4 m6 s12">
    <%= f.submit "Post", class: "btn btn-primary" %>
  </div>
  <div class="col l8 m6 s12">
    <%= f.submit "Create and Add Dates", class: 'btn btn-primary', name: 'create_and_add' %>
  </div>
<% end %>