<% if request.original_url.to_s.include? 'workplace' %>
    <div class="card sticky-action card-panel services">
      <div class="card-image">
        <!--  #image_tag workplace.picture.url if workplace.picture?  -->
      </div>
        <div class="card-title">
          <%= workplace.workplace_name %>
          <i class="material-icons right activator">info_outline</i>
          <hr />
        </div>
      <div class="card-subtitle">
        <h5>Address: </h5>
        <span>
          <%= workplace.workplace_address %>
          <hr />
        </span>
        <hr /><br/>
        <p><%= workplace.workplace_description %></p>
        <br />
      </div>
      <div class="card-action">
        <%= link_to "View property info", workplace_path(workplace.id) %>
        <li class="no-border" id="workplace-<%= workplace.id %>">
          <% if logged_in? && current_user.admin? %>
        <small class="timestamp">
          Created <%= time_ago_in_words(workplace.created_at) %> ago.
          <br />
          </small>
            <%= link_to "delete", workplace, method: :delete,
                        data: { confirm: "You sure?" } %>
            &nbsp; <%= link_to "edit", edit_workplace_path(workplace.id) %>
          <% end %>
        </li>
      </div>
    </div>

    <% else %>
    <li id="workplace-<%= workplace.id %>">
      <span>
        <%= link_to workplace.workplace_name, workplace_path(workplace.slug), class: 'bold' %>
      </span>
      <% if logged_in? && current_user.admin? %>
          <br />
        <span>new category</span>
          <%= link_to new_workplace_category_path(workplace) do |f| %>
              <span class="location-icon material-icons">+</span>
          <% end %>
        <br />

        <small class="timestamp">
        <%= link_to "delete", workplace, method: :delete,
                    data: { confirm: "You sure?" } %>
    &nbsp;  <%= link_to "edit", edit_workplace_path(workplace.id) %>
      <% end %>
      </small>
      <hr />
    </li>
<% end %>
