
<tbody>
<tr>
  <td><%= appointment.appointment_status %></td>
  <td><%= appointment.schedule %></td>
  <td><%= appointment.appointment_location%></td>
  <td><%= appointment.appointment_price %></td>
  <td id="table-buttons"><%= link_to 'View', user_appointment_path(current_user.id, appointment.id),
  class: 'waves-effect waves-light btn custom-btn-small' %></td>
  <% if current_user.admin? %>
  <td id="table-buttons">
    <%= link_to 'Edit', user_appointment_path(appointment.user_id, appointment.id),
  class: 'waves-effect waves-light btn custom-btn-small' %>
  </td>
    <td id="table-buttons">
      <%= link_to 'Delete', user_appointment_path(appointment.user_id, appointment.id), method: 'delete',
                  data: { confirm: "you sure?" }, class: 'waves-effect waves-light btn custom-btn-small' %>
    </td>
  <% end %>
</tr>
</tbody>