<% if request.original_url.to_s.include? 'categories' %>

<% else %>
  <li id="category-<%= category.id %>">
        <span class="user">
          <%= category.workplace.workplace_name %>
          <br />
         &nbsp; <%= link_to category.category_name, workplace_category_path(category.workplace_id, category.slug) %></span>
          <br />
        &nbsp; <small>Locations: (<%= category.locations.count %>) </small>
          &nbsp; &nbsp; <%= link_to 'New', new_category_location_path(category.slug), class: small_button('blue lighten-1') %>
        &nbsp; <small class="timestamp"> &nbsp; &nbsp;
          <%= link_to "delete", workplace_category_path(category.workplace_id, category.slug), method: :delete,
                      data: { confirm: "You sure?" } %>
          &nbsp;  <%= link_to "edit", edit_workplace_category_path(category.workplace_id, category.slug) %>

    </small>
    <hr />
  </li>
<% end %>
