<% if request.original_url.to_s.include? 'categories' %>
    <div class="col l4 m6 s12">
      <div class="card sticky-action card-panel">
        <div class="card-image">
          <i class='fa <%= category.category_icon %> fa-5x activator' id="fa-icon"></i>
          <h3 class=" activator"><%= category.category_name %>
            <i class="material-icons right activator">info_outline</i></h3>
        </div>
        <div class="card-content">
          <p><%= category.category_description %></p>
        </div>
        <div class="card-action">
          <a href="#" class="">BOOK IT</a>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">More Info
            <i class="material-icons right">close</i></span>
          <p><%= category.category_info %></p>
        </div>
      </div>
    </div>
<% else %>
  <li id="category-<%= category.id %>">
        <span class="user">
          <%= category.workplace.workplace_name %>
          <br />
          <%= link_to category.category_name, workplace_category_path(category.workplace_id, category.slug) %></span>
          <br />
        <small>Services: (<%= category.services.count %>) </small>
          &nbsp; &nbsp; <%= link_to 'New', new_category_service_path(category.slug), class: small_button('blue lighten-1') %>
        <span class="timestamp">
          <%= link_to "delete", workplace_category_path(category.workplace_id, category.slug), method: :delete,
                      data: { confirm: "You sure?" } %>
          &nbsp;  <%= link_to "edit", edit_workplace_category_path(category.workplace_id, category.slug) %>

    </span>
  </li>
<% end %>
