<div class="header-nav">
  <% if logged_in? && current_user.admin? %>
    <ul>
      <li>
        <%= link_to "back", :back, class: 'waves-effect waves-light btn white' %>
      </li>
      <li>
        <%= link_to "edit", edit_workplace_category_path(@category.workplace_id, @category.slug), class: 'waves-effect waves-light btn white' %>
      </li>
      <li>
        <%= link_to "new category", new_workplace_category_path(@category.workplace_id), class: 'waves-effect waves-light btn white' %>
      </li>
      <li>
        <%= link_to "locations", category_locations_path(@category.id), class: 'waves-effect waves-light btn white' %>
      </li>
      <li>
        <%= link_to "delete", workplace_category_path(@category.id),
                    method: 'delete', data: { confirm: 'Are you sure?' }, class: 'waves-effect waves-light btn white' %>
      </li>
  <% end %>

  </ul>
</div>
<div class="row">

  <div class="col l3 m6 s6 offset-l1">
    <small>Workplace:</small>
      <h3><%= @category.workplace.workplace_name %></h3>
    <small>Category:</small>
    <h3><%= @category.category_name %></h3>
    <small>Icon: &nbsp;</small>
    <h3><i class='fa <%= @category.category_icon %> fa-2x' id="fa-icon"></i></h3>
    <br />

  </div>
    <div class="card">
      <div class="card-content">
        <h4>Category Description</h4>
        <hr />
        <div class="card-content">
          <p><%= @category.category_description %></p>
        </div>
        <br />
        <h4>Category Additional Info</h4>
        <hr />
        <div class="card-content">
          <p><%= @category.category_info %></p>
        </div>

      </div>
      <div class="card-action">

      </div>
    </div>
</div>