<br/><br/>
<div class="row">
  <div class="col l3 m6 s6 offset-l1">
    <small>Workplace:</small>
      <h3>    <%= @category.workplace.workplace_name %></h3>
    <small>Category:</small>
    <h3><%= @category.category_name %></h3>
    <small>Icon: &nbsp;</small>
    <h3><i class='fa <%= @category.category_icon %> fa-3x' id="fa-icon"></i></h3>
    <br />
    <%= link_to "View Services", category_services_path(@category.slug), class: 'waves-effect waves-light btn' %>
    <br /> <br />
    <% if current_user.admin? %>
        <%= link_to "edit", edit_workplace_category_path(@category.workplace_id, @category.slug), class: 'waves-effect waves-light btn' %>
    <% end %>
  </div>
  <div class="col l6 m16 s12">

  </div>
  <div class="col l6 s12 m7">
    <div class="card">
      <div class="card-content">
        <h4>Category Description</h4>
        <hr />
        <div class="card-content">
          <p><%= @category.category_description %></p>
        </div>
        <br />
        <h4>Category Additional Info</h4>
        <hr />
        <div class="card-content">
          <p><%= @category.category_info %></p>
        </div>

      </div>
      <div class="card-action">

      </div>
    </div>
  </div>
</div>