<% if request.original_url.to_s.include? 'categories' %>
      <div class="paper locations card">
        <div class="card-image">
        </div>

        <div class="card-title ">
          <h5>
            <%= link_to location.location_name, location_sections_path(location.slug) %>
          </h5>
          </div>
        <div class="sub-title">
          Address: <span><%= location.location_address %><hr /></span>
          <hr /><br/>
          <p><%= location.location_description %></p>
          <br />
          <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3446.0269689298643!2d-97.75064508406118!3d30.264812781802878!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e3707f9b4075a9%3A0xdd6cbdcffe4e1785!2sSilicon+Labs!5e0!3m2!1sen!2sus!4v1511041859622" width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="card-action">
          <%= link_to "View Sections", location_sections_path(location.slug) %>


          <li class="no-border" id="location-<%= location.id %>">
            <% if logged_in? && current_user.admin? %>
        <span class="timestamp">
          Created <%= time_ago_in_words(location.created_at) %> ago.
          </span>
                <%= link_to "delete", category_location_path(@category.slug, location.slug), method: :delete,
                            data: { confirm: "You sure?" } %>
                &nbsp; <%= link_to "edit", edit_category_location_path(@category.slug, location.slug) %>
            <% end %>
          </li>
        </div>
      </div>

<% else %>
    <li id="location-<%= location.id %>">
      <span class="user">
        <small>
          <%= location.category.workplace.workplace_name %>
          &nbsp;

        </small>
        <small>
          &nbsp; <%= location.category.category_name %>
        </small>
        <%= link_to location.location_name, category_location_path(location.category_id, location.slug) %></span>
      <br />

      <small>
          <% if logged_in? && current_user.admin? %>
            <span>create new section</span>
            <%= link_to new_location_section_path(location) do |f| %>
              <span class="location-icon material-icons">+</span>
            <% end %>
        </small>
        <br />
      <small class="timestamp">
         &nbsp;
        <%= link_to "delete", category_location_path(location.category_id, location.slug), method: :delete,
                    data: { confirm: "You sure?" } %>
        &nbsp;  <%= link_to "edit", edit_category_location_path(location.category_id, location.slug) %>
      <% end %>
      </small>
    </li>
  <hr />
<% end %>
