<% if request.original_url.to_s.include? 'categories' %>
      <div class="paper locations card">
        <div class="card-image">
        </div>

        <div class="card-title ">
          <h5>
            <%= link_to location.location_name, location_sections_path(location.slug) %>
          </h5>
          </div>
        <div class="sub-title">
          Address: <span><%= location.location_address %><hr /></span>
          <hr /><br/>
          <p><%= location.location_description %></p>
          <br />
        </div>
        <div class="card-action">
          <%= link_to "View Sections", location_sections_path(location.slug) %>

          <li class="no-border" id="location-<%= location.id %>">
            <% if logged_in? && current_user.admin? %>
        <small class="timestamp">
          Created <%= time_ago_in_words(location.created_at) %> ago.
          <br />
          </small>
                <%= link_to "delete", category_location_path(@category.slug, location.slug), method: :delete,
                            data: { confirm: "You sure?" } %>
                &nbsp; <%= link_to "edit", edit_category_location_path(@category.slug, location.slug) %>
            <% end %>
          </li>
        </div>
      </div>

<% else %>
    <li id="location-<%= location.id %>">
      <span class="user">
        <small>
          <%= location.category.workplace.workplace_name %>
          &nbsp;

        </small>
        <small>
          &nbsp; <%= location.category.category_name %>
        </small>
        <%= link_to location.location_name, category_location_path(location.category_id, location.slug) %></span>
      <br />

      <small>
          <% if logged_in? && current_user.admin? %>
            <span>create new section</span>
            <%= link_to new_location_section_path(location) do |f| %>
              <span class="location-icon material-icons">+</span>
            <% end %>
        </small>
        <br />
      <small class="timestamp">
         &nbsp;
        <%= link_to "delete", category_location_path(location.category_id, location.slug), method: :delete,
                    data: { confirm: "You sure?" } %>
        &nbsp;  <%= link_to "edit", edit_category_location_path(location.category_id, location.slug) %>
      <% end %>
      </small>
    </li>
  <hr />
<% end %>
