<footer class="page-footer indigo darken-2" >
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">YourTime</h5>
        <p class="grey-text text-lighten-4">Things you need done, completed on your time.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><%= link_to "Home",   root_path, class: 'grey-text text-lighten-3' %></li>
          <li><%= link_to "About",   about_path, class: 'grey-text text-lighten-3' %></li>
          <li><%= link_to "How It Works",   about_path, class: 'grey-text text-lighten-3' %></li>
          <li><%= link_to "Pricing",   about_path, class: 'grey-text text-lighten-3' %></li>
          <li><%= link_to "Contact",   contact_path, class: 'grey-text text-lighten-3' %></li>

        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 YourTime

    </div>
  </div>
</footer>