<header class="navbar navbar-fixed-top  light-blue darken-1">
  <div class="container light-blue darken-1">
    <%= link_to "THE GALLON CARD", root_path, id: "logo" %>
  <nav class="light-blue darken-1 z-depth-0">
      <ul class="nav navbar-nav navbar-right ">
        <% if  logged_in? && current_user.admin? %>
            <li class="admin">Admin</li>
        <% else %>
        <% end %>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <% if logged_in? %>
            <% if current_user.admin? %>
          <li><%= link_to "Users", users_path %></li>
                <% else %>
                <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>