<!DOCTYPE html>
<html>
<head>

  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_pack_tag('vendor-bundle',
                          media: 'all',
                          'data-turbolinks-track': true) %>

  <%= stylesheet_pack_tag('app-bundle',
                          media: 'all',
                          'data-turbolinks-track': true) %>
  <!-- added for custom CSS into the header -->
  <%= env_stylesheet_link_tag(static: 'application_static',
                                      hot: 'application_non_webpack',
                                      media: 'all',
                                      'data-turbolinks-track' => "reload")  %>

  <%= javascript_pack_tag('vendor-bundle', 'data-turbolinks-track': true) %>
  <%= javascript_pack_tag('app-bundle', 'data-turbolinks-track': true) %>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-KwxQKNj2D0XKEW5O/Y6haRH39PE/xry8SAoLbpbCMraqlX7kUP6KHOnrlrtvuJLR" crossorigin="anonymous">
  <!--    javascript_include_tag('fontawesome-all.min.js')  -->
  <%= csrf_meta_tags %>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<%= render 'layouts/header' %>
<div class='flash-container'>
  <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
</div>
<div class="container" id="main-container">
  <%= yield %>
  <%= debug(params) if Rails.env.development? %>
</div>
<%= render 'layouts/footer' %>

<!-- This is a placeholder for ReactOnRails to know where to render the store props for
     client side hydration -->
<%= redux_store_hydration_data %>

</body>
</html>
